.homepage {
  min-height: 100vh; /* Ensures full height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;
  gap: 25%;
}

/* First container (content) should stay in center */
.intro {
  flex-grow: 1; /* Allows it to take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Socials should stay at the bottom */
.socials {
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Pushes it to the bottom */
  gap: 10%;
}

/* Styling for the name */
.intro .name {
  font-size: 60px;
  font-weight: bolder;
}

/* Styling for the title */
.intro .title {
  font-size: 30px;
  font-weight: bolder;
  color: #757575;
}

/* Styling for the location */
.intro .location {
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.intro .location span {
  margin-left: 5px;
}

/* Social media icons */
.socials a {
  display: inline-block;
}

/* Styling for social icons */
.socials .icon {
  font-size: 30px;
  color: black;
  margin-right: 10px;
}

.icon {
  cursor: pointer;
}