.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    flex-direction: column;
    position: fixed;
    z-index: 1000; /* Adjust the value as needed */
    width: 100%; /* Ensures full width */
    top: 0;
    left: 0;
    gap: 5%;

}

.navbar-content {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    gap: 10%;
    background-color: white;
}

/* Ensure divs inside the navbar don’t shrink */
.navbar-content div {
    min-width: fit-content;
}

.alert {
    display:flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    
}

.alert #warning{
    width: 100%;
}

.scroll-watcher {
    height: 10px;
    position: absolute;
    top:100;
    z-index:1000;
    background-color: limegreen;
    width:100%;
    scale:0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to { scale: 1 1;}
}